<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1><%= @awesome_message %></h1>
<h2><%= @description %><h2>

<img src="http://fc09.deviantart.net/fs70/f/2012/134/3/e/the_avengers___ironman_by_stephencanlas-d4zpaxl.jpg">